<?xml version="1.0"?>
<configuration>
    <location path="images">
        <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
        </system.webServer>
    </location>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
    </system.webServer>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to booksroutes.info" stopProcessing="true">
                    <match url="(.*)" />  
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^booksroutes\.azurewebsites\.net$" />
                    </conditions>
                    <action type="Redirect" url="https://booksroutes.info/{R:0}" />  
                </rule>  
                <rule name="NonWwwRedirect"  stopProcessing="true"> 
                    <match url="(.*)" /> 
                    <conditions> 
                        <add input="{HTTP_HOST}" pattern="^www.booksroutes\.info$" /> 
                    </conditions> 
                    <action type="Redirect" url="https://booksroutes.info/{R:1}" /> 
                </rule>  
                <rule name="React Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/200.html" />
                </rule>
             </rules>
        </rewrite>
    </system.webServer>
</configuration>