.book-item {
  padding: 10px;
  clear: both;
  overflow: hidden;
}

.cover {
  float: left;
  margin: 0 10px 10px 0;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
}

.genres {
  font-size: 0.8em;
  color: #444;
}

.description {
  margin-top: 5px;
}
