@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic");

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
a {
  color: #333;
}
a:hover {
  text-decoration: none;
}
