body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
a {
  color: #333;
}
a:hover {
  text-decoration: none;
}

.app-logo {
  height: 50px;
  display: inline-block;
}

.app-title {
  font-size: 1.2em;
  display: inline-block;
}

.app-content {
  padding: 10px 20px;
}
.routes-nav a {
  text-decoration: none;
}

.routes-nav a.active {
  background-color: rgba(0, 0, 0, 0.08);
}
