body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
a:hover,
a:visited {
  color: initial;
}

.app-logo {
  height: 50px;
  display: inline-block;
}

.app-header {
  background-color: #fefefe;
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
  height: 70px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.app-title {
  font-size: 1.5em;
  display: inline-block;
  margin: 0;
  line-height: 1;
  font-weight: 500;
  vertical-align: baseline;
}

.app-content {
  padding: 10px 20px;
}
.routes-nav a:hover {
  text-decoration: none;
}
.routes-nav a.active {
  text-decoration: none;
  cursor: initial;
}
