.book-list-wrap {
  flex-grow: 1;
}
.book-list-wrap .book-card {
  overflow: hidden;
  text-align: center;
}
.book-cover {
  /*margin: 10px 0;*/
}
.book-cover .cover {
  /*max-width: 200px;*/
  display: block;
  width: 100%;
}
.book-heading {
  padding: 12px 24px;
}
