.book-list-wrap {
  flex-grow: 1;
}
.book-list-wrap .book-card {
  overflow: hidden;
  padding: 10px;
  text-align: center;
  background-color: #fafafa;
}
.book-cover {
  margin-bottom: 10px;
}
.book-cover .cover {
  max-width: 200px;
  width: 100%;
}

.book-descr {
  padding-top: 10px;
}
